:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ac0f0f;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #0911e4;
}



* {
  box-sizing: border-box;
  margin: 0;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
